* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 4px;
}
.box {
  margin: auto;
  position: relative;
  top: 30%;
  height: auto;
  text-align: center;
}
.box h1 {
  font-size: 5rem;
}
.box p {
  font-size: 3rem;
}
